body {
    font-family: Arial, sans-serif;
    background-color: #ffe9ab;
    color: #2e462f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#chat-container {
    border-radius: 15px;
    height: 450px;
    width: 80%;
    max-width: 500px;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#chat-box {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    max-height: 400px;
}
.bot-message, .user-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
}
.bot-message {
    background-color: #ffdd1a;
    color: #2b3a2c;
    align-self: flex-start;
}
.user-message {
    background-color: #000000;
    color: #fdfdfd;
    align-self: flex-end;
}
.option-button {
    margin: 5px 0;
    padding: 8px;
    background-color: #ffe9ab;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.option-button:hover {
    background-color: #fdd872;
}
#input-section {
    display: flex;
    gap: 10px;
}
#user-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 15px;
}
#send-button {
    padding: 8px 16px;
    background-color: #ffe9ab;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: #ffdd19 solid 3px;
}
#send-button:hover {
    background-color: #fdd872;
    border: #ffd900 solid 3px;
}